@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color-primary-black: #111;
  --color-primary-gray: #333;
  --color-secondary-gray: #262626;
  --color-primary-white: #fff;
  --color-primary-button: #5f2b34;
  --color-secondary-button: #a14251;
  --font-titles: "Montserrat", sans-serif;
  --font-subtitles: "Montserrat", sans-serif;
}

@import url("styles/footer.css");
@import url("./styles/header.css");
@import url("./styles/homepage.css");
@import url("./styles/modal.css");

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
